<p>Hubo un error al ingresar nuevo Shipper, por favor intentelo nuevamente</p>
<p>CompanyName: Longitud Maxima 40 caracteres</p>
<div>
    @Html.ActionLink("Intentar nuevamente", "Insert", "Shippers")
</div>