@using Lab.EF.MVC.Models.PokeApiResponse

@{
    ViewBag.Title = "Lista de Pokémon";
}

<h1>Lista de Pokémon</h1>

@if (Model != null && Model.results != null && Model.results.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in Model.results)
            {
                <tr>
                    <td>@pokemon.name</td>
                    <td>@pokemon.url</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron datos de Pokémon.</p>
}

