@model List<Lab.EF.MVC.Models.ShippersView>

@{
    ViewBag.Title = "Shippers";
}

<head>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>

<h1>Listado de Shippers</h1>

<table class="table table-striped custom-table">
    <tr>
        <th>CompanyName</th>
        <th>Phone</th>
    </tr>
    @foreach (var shipper in Model)
    {
        <tr>
            <td>@shipper.CompanyName</td>
            <td>@shipper.Phone</td>
            

        </tr>
    }
</table>

<div>
    @Html.ActionLink("Agregar Shipper nuevo", "Insert", "Shippers")
</div>