@model Lab.EF.MVC.Models.ShippersView

<h1>Crear Nuevo Shipper</h1>

@using (Html.BeginForm("Insert", "Shippers", FormMethod.Post, new { id = "shipperForm" }))
{
    <div class="form-group">
        @Html.LabelFor(shipper => shipper.CompanyName)
        @Html.TextBoxFor(shipper => shipper.CompanyName, new { @class = "form-control", id = "CompanyName" })
    </div>

    <div class="form-group">
        @Html.LabelFor(shipper => shipper.Phone)
        @Html.TextBoxFor(shipper => shipper.Phone, new { @class = "form-control", type = "number", pattern = "[0-9]*" })
    </div>
    <button type="button" class="btn btn-primary" id="submitButton">Guardar</button>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("#submitButton").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Shippers/Insert",
                    data: {
                        CompanyName: $("#CompanyName").val(),
                        Phone: $("#Phone").val()
                    },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Éxito',
                                text: 'El shipper se ha agregado correctamente.',
                                timer: 2000
                            }).then(function () {
                                window.location.href = '/Shippers/Index';
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: result.message
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Ocurrió un error al procesar la solicitud.'
                        });
                    }
                });
            });
        });
    </script>
}
