/* Estilo para todo el cuerpo de la página */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece la altura mínima del cuerpo para ocupar toda la ventana */
  margin: 0;
  padding: 0;
}

/* Estilo para el contenido principal */
app-main {
  flex-grow: 1; /* Hace que el contenido principal crezca para ocupar todo el espacio disponible */
  padding: 20px; /* Añade espacio entre el contenido principal y el pie de página */
}

/* Estilo para el footer */
app-footer {
  background-color: #161616;
  color: #121212;
  padding: 20px 0;
  text-align: center;
  position: fixed; /* Hace que el footer sea fijo en la parte inferior */
  bottom: 0; /* Coloca el footer en la parte inferior */
  width: 100%; /* Ancho completo */
}

