<div class="back-modal" style="background-color: rgba(32, 78, 96, 0.388);">
  <div class="d-flex align-items-center justify-content-center">
    <!-- Contenedor principal del formulario -->
    <div class="modal-container">
      <br>
      <h2>Edit Shipper</h2>
      <form [formGroup]="form" (ngSubmit)="saveChanges()">
        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input type="text" id="companyName" name="companyName" formControlName="companyName" class="form-control">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" name="phone" formControlName="phone" class="form-control">
        </div>
        <br>
        <br>
        <div class="text-center d-flex justify-content-center">
          <button type="submit" class="btn btn-success mx-2">Guardar</button>
          <button type="button" class="btn btn-danger mx-2" (click)="closeDialog()">Cancelar</button>
        </div>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>
