<button class="btn btn-primary pulse" (click)="insertShipper()">Add Shipper</button>


<div class="container">
  <select [(ngModel)]="selectedFilter" (change)="applyFilter()" class="form-control">
    <option value="all">Todos</option>
    <option value="companyName">Nombre de la Compañía</option>
    <option value="phone">Teléfono</option>
  </select>
  
  <input
    *ngIf="selectedFilter !== 'all'"
    type="text"
    [(ngModel)]="filterValue"
    (input)="applyFilter()"
    class="form-control"
    placeholder="Filtrar..."
  >

  <div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort >
    
    <ng-container matColumnDef="ShipperID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
      <td mat-cell *matCellDef="let shipper"> {{shipper.ShipperID}} </td>
    </ng-container>
    
    <ng-container matColumnDef="CompanyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Company Name </th>
      <td mat-cell *matCellDef="let shipper"> {{shipper.CompanyName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let shipper"> {{shipper.Phone}} </td>
    </ng-container>

    <div style="text-align: center;">
      <ng-container matColumnDef="Edit" >
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let shipper" > 
          <button mat-fab  color="primary" (click)="editShipper(shipper.ShipperID)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
    </div>

<div style="text-align: center;">
    <ng-container matColumnDef="Delete" >
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let shipper" > 
        <button mat-fab  color="warn" (click)="deleteShipper(shipper.ShipperID)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20]" aria-label="Select page of users"></mat-paginator>
  </div>

</div>