<div class="backlight">
<div class="wrapper" >
  <button (click)="insertShipper()">
    Add Shipper
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button >
</div>
</div>
<br>
<div class="container">
  <select [(ngModel)]="selectedFilter" (change)="applyFilter()" class="form-control">
    <option value="all">Sin filtro  </option>
    <option value="companyName">Nombre de la Compañía</option>
    <option value="phone">Teléfono</option>
  </select>
  
  <input
    *ngIf="selectedFilter !== 'all'"
    type="text"
    [(ngModel)]="filterValue"
    (input)="applyFilter()"
    class="form-control"
    placeholder="Filtrar..."
  >
  
<br>

  <div class="mat-elevation-z8 table-responsive" >

  <table mat-table [dataSource]="dataSource" matSort >
    
    <ng-container matColumnDef="CompanyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #2c7da0;"> Company Name </th>
      <td mat-cell *matCellDef="let shipper"> {{shipper.CompanyName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef style="background-color: #2c7da0;"> Phone </th>
      <td mat-cell *matCellDef="let shipper"> {{shipper.Phone}} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef style="background-color: #2c7da0;width: 150px;"> Edit / Delete</th>
      <td mat-cell *matCellDef="let shipper" style="text-align: left;">
        <button mat-icon-button (click)="updateShipper(shipper)" style="margin-right: 5px;">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteShipper(shipper.ShipperID)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20]" aria-label="Select page of users" style="background-color: rgb(76, 85, 102);"></mat-paginator>
  </div>
</div>